.componenteCadastro {
    margin-top: 50px;
}

/* Textbox 2 */
.textbox {
    position: absolute;
    top: 82px;
    left: 28px;
    opacity: 1;
    background: #000000;
  }
  .textbox input {
    width: 512px;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Inter;
    font-size: 14px;
    background: #FFFFFFFF;
    border-radius: 4px;
    border-width: 1px;
    border-color: #9095A0FF;
    outline: none;
  }
  .textbox .label {
    font-size: 14px;
    line-height: 22px;
  }
  /* hover */
  .textbox input:hover {
    color: #BCC1CAFF;
    background: #FFFFFFFF;
    border-color: #6E7787FF;
  }
  /* focused */
  .textbox input:focused {
    color: #BCC1CAFF;
    background: #FFFFFFFF;
    border-color: #9095A0FF;
  }
  /* disabled */
  .textbox input:disabled {
    color: #BCC1CAFF;
    background: #FFFFFFFF;
    border-color: #9095A0FF;
  }
  .textbox :disabled + .icon, .textbox :disabled + .icon + .icon {
    fill: #171A1FFF;
  }